.js-dropdown {
  min-height: 40px;
  width: 260px;
  display: block;
  position: relative;
}

.js-dropdown.open .js-dropdown-list {
  display: block;
}

.js-dropdown-selections {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding: 10px 40px 6px 10px;
}

.js-dropdown-selections:after {
  content: '▼';
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  right: 14px;
  top: 50%;
  margin-top: -6px;
}

.js-dropdown.open .js-dropdown-selections:after {
  transform: rotate(180deg)
}

.js-dropdown-selection-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.js-dropdown-selection-item {
  display: inline-block;
  background: lightblue;
  padding: 3px 6px;
  border-radius: 3px;
  margin: 0 4px 4px 0;
}

.js-dropdown-selection-item:hover {
  text-decoration: line-through;
  background: lightcoral;
}

.js-dropdown-placeholder {
  padding: 3px 0;
  margin-bottom: 4px;
}

.js-dropdown-list {
  display: none;
  width: 100%;
  border: 1px solid #ddd;
  left: 0;
  top: 100%;
  position: absolute;
  margin-top: -1px;
  box-sizing: border-box;
}

.js-dropdown-page {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 220px;
  overflow: auto;
}

.js-dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
  border-top: 1px solid #ddd;
}

.js-dropdown-item:first-child {
  border-top: none;
}

.js-dropdown-item:hover {
  background: lightblue;
}

.js-dropdown-item.selected {
  background: lightblue;
}

.js-dropdown-item.selected:hover {
  background: lightcoral;
}

.js-dropdown-paginator {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ddd;
  list-style: none;
}

.js-dropdown-paginator-item {
  padding: 5px;
  cursor: pointer;
}

.js-dropdown-paginator-item:hover {
  background: #eee;
}

.js-dropdown-paginator-item.selected {
  background: lightblue;
}