.js-dropdown {
  height: 40px;
  width: 200px;
  display: block;
  position: relative;
}

.js-dropdown.open .js-dropdown-list {
  display: block;
}

.js-dropdown-selections {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding: 10px 40px 10px 10px;
}

.js-dropdown-selections:after {
  content: '▼';
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  right: 14px;
  top: 50%;
  margin-top: -6px;
}

.js-dropdown.open .js-dropdown-selections:after {
  transform: rotate(180deg)
}

.js-dropdown-selection-item:hover {
  text-decoration: line-through;
}

.js-dropdown-list {
  display: none;
  width: 100%;
  height: 200px;
  border: 1px solid #ddd;
  left: 0;
  top: 100%;
  position: absolute;
  margin-top: -1px;
  box-sizing: border-box;
}

.js-dropdown-item {

}

.js-dropdown-item.selected {
  color: red;
}

.js-dropdown-paginator-item {

}

.js-dropdown-paginator-item.selected {
  color: red
}